*,
*::before,
*::after {outline:none; box-sizing:border-box}

html {min-width:480px}

body {min-width:480px; margin:0; padding:0; font:300 18px/27px Tahoma, Geneva, sans-serif; color:#181818; background:#fff; -webkit-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale}
.fonts-loaded body {font-family:Rubik, sans-serif}

a {color:#7a34a6; text-decoration:none; transition:all 0.2s}
a:hover {color:#000}

img {border:none; max-width:100%; max-height:100%}
iframe {border:none; max-width:100%; max-height:100%}

::-ms-clear {display:none}

strong, b, h1, h2, h3, h4, h5, h6, th {font-weight:normal}

h1 {font-size:36px; line-height:43px; font-weight:normal; color:#2f2f2f; margin:30px 0 23px 0; padding:0}
.fonts-loaded h1 {font-family:Rubik, sans-serif}
h2 {font-size:24px; line-height:32px; font-weight:500; color:#181818; margin:41px 0 23px 0; padding:0}
h3 {font-size:20px; line-height:28px; font-weight:500; color:#181818; margin:41px 0 23px 0; padding:0}
p {margin:23px 0; padding:0}
ul {margin:23px 0; padding:0; list-style:none}
ul li {margin:11px 0; padding:0 0 0 34px; position:relative}
ul li::before {content:""; display:block; width:8px; height:8px; position:absolute; left:0; top:9px; background:#7a34a6}
ul ul {margin:11px 0}
ol {margin:23px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:11px 0; padding:0 0 0 34px; position:relative}
ol li::before {content:counter(point)'.'; counter-increment:point 1; font-weight:normal; position:absolute; left:0; top:0}
ol ol {margin:11px 0; counter-reset:subpoint}
ol ol li::before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}

.btn {display:inline-block; margin:0; padding:0 20px; overflow:visible; outline:none; vertical-align:top; height:44px; text-decoration:none; background:#7a34a6; color:#fff; border:1px solid #7a34a6; border-radius:0; font:300 16px/42px Tahoma, Geneva, sans-serif; letter-spacing:0; text-align:center; transition:all 0.2s; position:relative; -webkit-appearance:none; cursor:pointer}
.fonts-loaded .btn {font-family:Rubik, sans-serif}
.btn:hover {background:rgba(122, 52, 166, 0.12); color:#000}

form {margin:46px 0; padding:0}

.form-label {font-size:16px; line-height:19px; color:#6b6b6b; margin:26px 0 0 0}
.form-label span {color:#ff2f2f}

.form-input {position:relative; margin:9px 0 0 0}
.form-input input,
.form-input textarea {vertical-align:top; box-sizing:border-box; margin:0; padding:10px 12px; outline:none; width:100%; height:46px; border:1px solid #d6d6d6; -webkit-appearance:none; color:#000; font:300 16px/24px Tahoma, Geneva, sans-serif; border-radius:0}
.fonts-loaded .form-input input,
.fonts-loaded .form-input textarea {font-family:Rubik, sans-serif}
.form-input textarea {height:auto; overflow:auto; resize:none}
.form-input input.error,
.form-input textarea.error {border-color:#ff2f2f}
.form-input label.error {display:none !important}

.form-select {margin:9px 0 0 0}
.form-select select {vertical-align:top; box-sizing:border-box; margin:0; padding:10px 12px; outline:none; width:100%; height:46px; border:1px solid #d6d6d6; -webkit-appearance:none; color:#000; font:300 16px/24px Tahoma, Geneva, sans-serif; border-radius:0}
.fonts-loaded .form-select select {font-family:Rubik, sans-serif}

.form-number {margin:9px 0 0 0}
.form-number::after {content:""; display:block; clear:both}
.form-number-dec {float:left; width:46px; height:46px; position:relative; margin:0 -1px 0 0; z-index:1; border:1px solid #d6d6d6; text-align:center; font-weight:500; font-size:20px; line-height:30px; cursor:pointer; color:#7a34a6; transition:all 0.2s}
.form-number-dec:hover {border-color:#7a34a6}
.form-number .form-input {float:left; margin:0; width:46px}
.form-number .form-input input {text-align:center; padding-left:0; padding-right:0}
.form-number-inc {float:left; width:46px; height:46px; position:relative; margin:0 0 0 -1px; z-index:1; border:1px solid #d6d6d6; text-align:center; font-weight:500; font-size:20px; line-height:44px; cursor:pointer; color:#7a34a6; transition:all 0.2s}
.form-number-inc:hover {border-color:#7a34a6}

.form-checkbox {margin:26px 0; font-weight:normal; font-size:16px; line-height:19px; color:#2f2f2f}
.form-checkbox+.form-checkbox {margin-top:-16px}
.form-checkbox::after {content:""; display:block; clear:both}
.form-checkbox label {float:left; display:block; cursor:pointer}
.form-checkbox input {display:none}
.form-checkbox span {display:block; position:relative; padding:0 0 0 34px}
.form-checkbox span::before {content:""; display:block; width:20px; height:20px; border:1px solid rgba(122, 52, 166, 0.5); position:absolute; left:0; top:-1px; background:url(../images/checkbox.svg) no-repeat -999px -999px}
.form-checkbox input.error+span::before,
.form-checkbox input.error+label.error+span::before {border-color:#ff2f2f}
.form-checkbox input:checked+span::before,
.form-checkbox input:checked+label.error+span::before {background-position:1px center}
.form-checkbox label:hover span {border-color:#7a34a6}
.form-checkbox label.error {display:none !important}

.form-files {margin:9px 0 0 0; position:relative; padding:52px 0 0 0; min-height:52px}
.form-file-input {position:absolute; z-index:1; left:0; top:0; display:none; width:211px; height:46px; font-size:16px; line-height:46px; background:rgba(122, 52, 166, 0.12); text-align:center; overflow:hidden; cursor:pointer; color:#000; border:1px solid #7a34a6; border-radius:0; transition:all 0.2s}
.form-file-input:hover {background:#7a34a6; color:#fff}
.form-file:last-child .form-file-input {display:block}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.form-file-input label.error {display:none !important}
.form-file-name {font-size:16px; line-height:19px; position:relative; color:#6b6b6b}
.form-file-name-text {padding:0 0 0 26px}
.form-file-name-text:empty+.form-file-name-remove {display:none}
.form-file-name-remove {position:absolute; left:0; top:1px; width:16px; height:16px; background:url(../images/form-file-name-remove.svg) no-repeat; background-size:100%; cursor:pointer}

.form-captcha {margin:26px 0 0 0}

.form-submit {max-width:344px; margin:28px 0 0 0}
.form-submit .btn {display:block; padding:0; width:100%}

.form-error {margin:30px 0; font-size:16px; line-height:19px; color:#ec1d22}
.form-success {margin:30px 0; font-size:16px; line-height:19px; color:#45a13d}

.pager {margin:60px 0 0 0; font-size:0; line-height:0; letter-spacing:-1px}
.pager a {display:inline-block; vertical-align:top; font-size:14px; font-weight:normal; line-height:36px; letter-spacing:0; width:36px; height:36px; border:1px solid #d7c2e4; text-align:center; color:#2f2f2f; margin:0 -1px 0 0}
.pager a:hover {position:relative; border-color:#7a34a6; text-decoration:none; color:#2f2f2f}
.pager a.active {background:rgba(122, 52, 166, 0.1); border-color:#d7c2e4}
.pager span {display:inline-block; vertical-align:top; font-size:14px; font-weight:normal; line-height:36px; letter-spacing:0; width:36px; height:36px; border:1px solid #d7c2e4; text-align:center; color:#2f2f2f; margin:0 -1px 0 0}

.favourite .pager {text-align:right}

.container {max-width:1080px; margin:0 auto}
.container::after {content:""; display:block; clear:both}

.wrapper {min-width:480px; width:100%; position:relative; overflow:hidden}

.top {background:rgba(130, 130, 130, 0.07); border-top:1px solid #ddd; border-bottom:1px solid #ddd; height:46px; line-height:44px; font-size:12px; font-weight:normal}
.top-title {float:left; color:#6b6b6b}
.top-schedule {float:right; color:#3f3f3f; padding:0 0 0 24px; background:url(../images/top-schedule.svg) no-repeat left center; text-transform:uppercase}
.top-email {float:right; color:#3f3f3f; padding:0 0 0 27px; margin:0 30px 0 0; background:url(../images/top-email.svg) no-repeat left center; text-transform:uppercase}
.top-email a {color:#3f3f3f}
.top-phone {float:right; color:#3f3f3f; padding:0 0 0 20px; margin:0 30px 0 0; background:url(../images/top-phone.svg) no-repeat left center}
.top-phone a {color:#3f3f3f}

.header {border-bottom:1px solid #ddd; padding:0 0 11px 0}

.logo {float:left; width:48px; height:48px; position:relative; background:url(../images/logo.png) no-repeat; margin:14px 0 0 0}
.logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}

.header-title {float:left; margin:28px 0 0 25px; height:15px; border-left:1px solid #c4c4c4; padding:0 0 0 25px; color:#6b6b6b; font-size:14px; line-height:15px}

.header-user {float:right; margin:15px 0 0 0; width:44px; height:44px; background:rgba(122, 52, 166, 0.05) url(../images/header-user.svg) no-repeat center; border-radius:50%}
.header-user:hover {opacity:0.8}
.header-cart {float:right; margin:15px 20px 0 0; width:44px; height:44px; background:rgba(122, 52, 166, 0.05) url(../images/header-cart.svg) no-repeat center; border-radius:50%}
.header-cart:hover {opacity:0.8}
.header-favourite {float:right; margin:15px 20px 0 0; width:44px; height:44px; background:rgba(122, 52, 166, 0.05) url(../images/header-favourite.svg) no-repeat center; border-radius:50%}
.header-favourite:hover {opacity:0.8}

.header-search {float:right; margin:19px 51px 0 0; width:388px}
.header-search form {margin:0; padding:0; position:relative}
.header-search-input input {vertical-align:top; box-sizing:border-box; margin:0; padding:5px 44px 5px 11px; outline:none; width:100%; height:36px; border:1px solid #d6d6d6; -webkit-appearance:none; color:#000; font:300 16px/24px Tahoma, Geneva, sans-serif; border-radius:0}
.fonts-loaded .header-search-input input {font-family:Rubik, sans-serif}
.header-search-input label.error {display:none !important}
.header-search-submit {position:absolute; right:0; top:0}
.header-search-submit input {display:block; margin:0; padding:0; overflow:visible; outline:none; vertical-align:top; width:44px; height:36px; text-decoration:none; background:url(../images/header-search.svg) no-repeat center; border:none; border-radius:0; position:relative; -webkit-appearance:none; cursor:pointer; transition:all 0.2s}
.header-search-submit input:hover {opacity:0.8}

.menu {padding:10px 0; border-bottom:1px solid #ddd; position:relative}

.menu-catalogue-link {float:left; height:36px; line-height:36px; font-size:14px; color:#fff; padding:0 12px 0 35px; position:relative; background:#7a34a6; border:1px solid rgba(122, 52, 166, 0.77)}
.menu-catalogue-link:hover {background:rgba(122, 52, 166, 0.12); color:#000}
.menu-catalogue-link-icon {display:block; position:absolute; left:14px; top:13px; width:13px; height:9px; border-top:1px solid #fff; border-bottom:1px solid #fff}
.menu-catalogue-link:hover .menu-catalogue-link-icon {border-color:#7a34a6}
.menu-catalogue-link-icon::before,
.menu-catalogue-link-icon::after {content:""; display:block; position:absolute; left:0; top:3px; right:0; height:1px; background:#fff}
.menu-catalogue-link:hover .menu-catalogue-link-icon::before,
.menu-catalogue-link:hover .menu-catalogue-link-icon::after {background:#7a34a6}

.menu-open .menu-catalogue-link-icon,
.menu-open .menu-catalogue-link:hover .menu-catalogue-link-icon {border-color:transparent}
.menu-open .menu-catalogue-link-icon::before {transform:rotate(45deg)}
.menu-open .menu-catalogue-link-icon::after {transform:rotate(-45deg)}

.menu-list {float:right; font-size:12px; font-weight:normal; line-height:36px; letter-spacing:0.05em; text-transform:uppercase}
.menu-list ul {margin:0; padding:0; list-style:none}
.menu-list ul li {margin:0 0 0 45px; padding:0; float:left}
.menu-list ul li:first-child {margin:0}
.menu-list ul li::before {display:none}
.menu-list ul li a {color:#6b6b6b}
.menu-list ul li.sale a {color:#7a34a6; font-weight:500}
.menu-list ul li a:hover {color:#000}
.menu-list ul li.active a {color:#000}

.menu-content {display:none; position:absolute; left:0; top:100%; right:0; padding:31px 0 32px 0; background:#fff; border-top:1px solid #ddd; box-shadow:0px 2px 60px rgba(67, 67, 67, 0.1); z-index:99}
.menu-container {margin:0 -40px}
.menu-container-list {display:table; width:100%}
.menu-col {display:table-cell; vertical-align:top; width:25%; padding:0 40px; border-left:1px solid #ddd}
.menu-col:first-child {border-left:none}
.menu-block {margin:29px 0 0 0}
.menu-block:first-child {margin:0}
.menu-block-title {font-weight:normal; font-size:16px; line-height:19px}
.menu-block-title a {color:#7a34a6}
.menu-block-title a:hover {color:#000}
.menu-block-list {font-size:16px; line-height:19px; margin:13px 0 0 0}
.menu-block-list ul {margin:0; padding:0; list-style:none}
.menu-block-list ul li {margin:8px 0 0 0; padding:0}
.menu-block-list ul li::before {display:none}
.menu-block-list ul li a {color:#737373}
.menu-block-list ul li a:hover {color:#000}

.menu-open .menu-content {display:block}

.breadcrumbs {margin:20px 0 0 0; font-weight:normal; font-size:14px; line-height:17px; color:#000}
.breadcrumbs span {color:#797979; margin:0 12px}
.breadcrumbs a {color:#797979}
.breadcrumbs a:hover {color:#000}

.catalogue {margin:31px 0 0 0}
.catalogue::after {content:""; display:block; clear:both}

.catalogue-menu {float:left; width:215px; margin:3px 0 0 0}
.catalogue-menu-inner {position:relative}
.catalogue-menu.fixed .catalogue-menu-inner {position:fixed; top:20px}
.catalogue-menu-inner ul {margin:0; padding:0; list-style:none; font-size:16px; font-weight:normal; line-height:19px}
.catalogue-menu-inner ul li {margin:10px 0 0 0; padding:0}
.catalogue-menu-inner ul li:first-child {margin:0}
.catalogue-menu-inner ul li::before {display:none}
.catalogue-menu-trends {font-weight:500}
.catalogue-menu-inner ul li a {color:#484848; text-decoration:none}
.catalogue-menu-inner ul li a:hover {color:#7a34a6}
.catalogue-menu-inner ul li.active a {color:#7a34a6}
.catalogue-menu-inner ul li ul {display:none; margin:10px 0 35px 0; font-weight:300}
.catalogue-menu-inner ul li.open ul {display:block}
.catalogue-menu-inner ul li.active ul li a {color:#484848}
.catalogue-menu-inner ul li.active ul li a:hover {color:#7a34a6}
.catalogue-menu-inner ul li.active ul li.active a {color:#7a34a6}
.catalogue-menu-inner-icon {display:inline-block; vertical-align:middle; width:13px; height:13px; position:relative; margin:0 0 0 8px; cursor:pointer}
.catalogue-menu-inner-icon::before {content:""; display:block; position:absolute; left:6px; top:0; width:1px; height:13px; background:#7a34a6}
.catalogue-menu-inner ul li.open .catalogue-menu-inner-icon::before {display:none}
.catalogue-menu-inner-icon::after {content:""; display:block; position:absolute; left:0; top:6px; width:13px; height:1px; background:#7a34a6}

.catalogue-container {float:right; width:805px}
.catalogue-container h1 {margin:0}

.favourite .catalogue-container {float:none; width:auto}

.catalogue-sort {margin:40px 0 0 -10px}
.catalogue-sort::after {content:""; display:block; clear:both}
.catalogue-sort-select {float:left; position:relative; margin:0 0 0 10px}
.catalogue-sort-select-value {border:1px solid #d8d8d8; cursor:pointer; padding:0 38px 0 25px; font-size:14px; height:37px; line-height:35px; transition:all 0.2s; position:relative}
.catalogue-sort-select-value::after {content:""; display:block; width:13px; height:8px; background:url(../images/arrow.svg) no-repeat; position:absolute; right:13px; top:15px}
.catalogue-sort-select-value:hover,
.catalogue-sort-select.active .catalogue-sort-select-value {border-color:#7a34a6}
.catalogue-sort-select-list {display:none; z-index:99; position:absolute; left:0; top:100%; width:100%; background:#fff; border:1px solid #d8d8d8; border-top:none}
.catalogue-sort-select-list ul {margin:0; padding:0; list-style:none}
.catalogue-sort-select-list ul li {margin:0; padding:0; border-top:1px solid #d8d8d8}
.catalogue-sort-select-list ul li:first-child {border-top:none}
.catalogue-sort-select-list ul li::before {display:none}
.catalogue-sort-select-list ul li a {display:block; padding:0 25px; font-size:14px; height:37px; line-height:35px; color:#000}
.catalogue-sort-select-list ul li a:hover {background:#d8d8d8}
.catalogue-sort-select.open .catalogue-sort-select-list {display:block}
.catalogue-sort-item {float:left; position:relative; margin:0 0 0 10px; border:1px solid #d8d8d8; cursor:pointer; padding:0 25px; font-size:14px; height:37px; line-height:35px; color:#000}
.catalogue-sort-item:hover,
.catalogue-sort-item.active {border-color:#7a34a6; text-decoration:none; color:#000}

.catalogue-list {margin:10px -10px 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.catalogue-item {display:inline-block; vertical-align:top; width:33.33%; padding:20px 10px 0 10px}
.favourite .catalogue-item {width:25%}
.catalogue-item-inner {border:1px solid #e5e5e5; position:relative}
.catalogue-item-inner:hover {z-index:3}
.catalogue-item-inner-bg {display:block; visibility:hidden; position:absolute; left:-118px; top:-1px; right:-1px; border:1px solid #e5e5e5; height:100%; background:#fff; box-shadow:0px 0px 40px rgba(79, 79, 79, 0.2); opacity:0; transition:opacity 0.2s}
.catalogue-item-inner:hover .catalogue-item-inner-bg {opacity:1; visibility:visible}
.catalogue-item-previews {position:absolute; left:-118px; top:-1px; min-height:calc(100% + 2px); border:1px solid #e5e5e5; background:#fff; display:none; padding:20px; width:118px}
.catalogue-item-inner:hover .catalogue-item-previews {display:block}
.catalogue-item-preview {margin:7px 0 0 0; position:relative}
.catalogue-item-preview::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid #7a34a6; opacity:0; transition:all 0.2s}
.catalogue-item-preview.active::after {opacity:1}
.catalogue-item-preview:first-child {margin:0}
.catalogue-item-preview img {display:block; width:100%}
.catalogue-item-content {position:relative}
.catalogue-item-photo a {display:block}
.catalogue-item-photo imd {display:block; width:100%}
.catalogue-item-title {font-size:19px; line-height:23px; letter-spacing:0; color:#2f2f2f; font-weight:normal; padding:20px 20px 0 20px}
.catalogue-item-title a {color:#2f2f2f}
.catalogue-item-sizes {padding:14px 20px 0 20px; font-size:14px; line-height:35px; letter-spacing:0; color:#2f2f2f; text-align:center}
.catalogue-item-sizes::after {content:""; display:block; clear:both}
.catalogue-item-size {display:block; float:left; width:39px; height:37px; border:1px solid #c4c4c4; margin:0 -1px -1px 0; text-decoration:none; color:#2f2f2f; position:relative}
.catalogue-item-size.loading {pointer-events:none}
.catalogue-item-size.loading::after {content:""; display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.catalogue-item-size:hover {z-index:1; border-color:#7a34a6; color:#2f2f2f}
.catalogue-item-size:active {background:rgba(122, 52, 166, 0.12); border-color:#c4c4c4; color:#7a34a6}
.catalogue-item-size em {display:block; position:absolute; right:-5px; top:-6px; height:14px; font-size:9px; line-height:14px; letter-spacing:0; color:#fff; background:#7a34a6; border-radius:50%; padding:0 4px; min-width:14px; z-index:2; font-style:normal; font-weight:500}
.catalogue-item-reg {padding:19px 20px 27px 20px}
.catalogue-item-title+.catalogue-item-reg {padding-top:7px}
.catalogue-item-reg a {display:block; border:1px solid #7a34a6; height:37px; text-align:center; font-size:14px; line-height:35px; color:#000; letter-spacing:0}
.catalogue-item-reg a:hover {background:#7a34a6; color:#fff}
.catalogue-item-reg a:active {background:#9d21ca; color:#fff}
.catalogue-item-favourite {position:absolute; right:12px; top:12px; display:block; width:20px; height:18px}
.catalogue-item-favourite::before,
.catalogue-item-favourite::after {content:""; display:block; width:20px; height:18px; position:absolute; left:0; top:0}
.catalogue-item-favourite::after {background:url(../images/catalogue-item-favourite.svg) no-repeat}
.catalogue-item-favourite::before {opacity:0; transition:all 0.2s; background:url(../images/catalogue-item-favourite-in.svg) no-repeat}
.catalogue-item-favourite:hover::before {opacity:0.3}
.catalogue-item-favourite:active::before {opacity:1}
.catalogue-item.in-favourite .catalogue-item-favourite::before {opacity:1}
.catalogue-item-favourite.loading {pointer-events:none}
.catalogue-item-favourite.loading::before {content:""; display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; background:url(../images/loading.gif); opacity:1}
.catalogue-item-discount {position:absolute; left:10px; top:10px; width:25px; height:25px; background:#7a34a6; border-radius:50%; color:#fff; text-align:center; font-size:17px; line-height:25px; font-weight:500; letter-spacing:0}
.catalogue-item-ctrl {padding:19px 20px 27px 20px}
.catalogue-item-ctrl::after {content:""; display:block; clear:both}
.catalogue-item-cart {float:left; width:101px}
.catalogue-item-cart a {display:block; border:1px solid #7a34a6; height:37px; text-align:center; font-size:14px; line-height:35px; color:#000; letter-spacing:0; position:relative}
.catalogue-item-cart a.loading {pointer-events:none}
.catalogue-item-cart a.loading::after {content:""; display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.catalogue-item-cart a:hover {background:#7a34a6; color:#fff}
.catalogue-item-cart a:active {background:#9d21ca; color:#fff}
.catalogue-item-price {float:left; padding:6px 0 0 24px; font-size:20px; line-height:24px; font-weight:normal; color:#7a34a6; letter-spacing:0}
.catalogue-item-price-discount {padding-top:0; margin:-3px 0 -4px 0}
.fonts-loaded .catalogue-item-price span {font-family:Roboto, sans-serif}
.catalogue-item-price em {display:block; font-style:normal; font-size:14px; line-height:17px; color:#6b6b6b; font-weight:300; padding:3px 0 0 0; text-decoration:line-through}

.catalogue-history {margin:98px 0 0 0}
.catalogue-history-title {font-size:22px; font-weight:normal; line-height:26px; color:#2f2f2f}

.product::after {content:""; display:block; clear:both}

.product-gallery {float:left; width:435px; line-height:0; font-size:0; letter-spacing:-1px}
.product-gallery-big {white-space:nowrap; width:100%; position:relative; overflow:hidden}
.product-gallery-big-item {display:inline-block; vertical-align:top; width:100%; margin:0; padding:0}
.product-gallery-big-item img {display:block; width:100%}
.product-gallery-preview ul {margin:0 -8px; padding:0; list-style:none}
.product-gallery-preview ul li {display:inline-block; vertical-align:top; width:25%; padding:16px 8px 0 8px; margin:0}
.product-gallery-preview ul li::before {display:none}
.product-gallery-preview ul li a {display:block; position:relative}
.product-gallery-preview ul li a::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:4px solid #7a34a6; opacity:0; transition:all 0.2s}
.product-gallery-preview ul li:hover a::after {opacity:0.5}
.product-gallery-preview ul li.active a::after {opacity:1}
.product-gallery-preview ul li a img {display:block; width:100%}

.product-info {float:right; width:323px; position:relative}
.product-info form {margin:0; padding:0}
.product-info-art {padding:2px 0 0 0; font-size:14px; line-height:17px; color:#545454}
.product-info h1 {margin:0; font-size:30px; line-height:36px}
.product-info-label {font-size:14px; line-height:17px; color:#6b6b6b; margin:16px 0 0 0}
.product-info-value {font-weight:normal; font-size:14px; line-height:17px; margin:5px 0 0 0; color:#000}
.product-info-sizes {margin:5px 0 0 0; max-width:238px; font-size:14px; line-height:35px; letter-spacing:0; color:#2f2f2f; text-align:center}
.product-info-sizes::after {content:""; display:block; clear:both}
.product-info-size {display:block; float:left; margin:0 -1px -1px 0}
.product-info-size input {display:none}
.product-info-size span {display:block; width:39px; height:37px; border:1px solid #c4c4c4; text-decoration:none; color:#2f2f2f; position:relative; cursor:pointer}
.product-info-size:hover span {z-index:1; border-color:#7a34a6; color:#2f2f2f}
.product-info-size:active span,
.product-info-size input:checked+span {background:rgba(122, 52, 166, 0.12); border-color:#c4c4c4; color:#7a34a6}
.product-info-size em {display:block; position:absolute; right:-5px; top:-6px; height:14px; font-size:9px; line-height:14px; letter-spacing:0; color:#fff; background:#7a34a6; border-radius:50%; padding:0 4px; min-width:14px; z-index:2; font-style:normal; font-weight:500}

.product-info-sizes+.product-info-label {margin:30px 0 0 0}
.product-info .form-number .form-number-dec {width:37px; height:37px; line-height:20px}
.product-info .form-number .form-input {float:left; margin:0; width:47px}
.product-info .form-number .form-input input {text-align:center; font-size:18px; height:37px; padding:5px 0 6px 0; border-color:transparent}
.product-info .form-number .form-number-inc {width:37px; height:37px; line-height:35px}

.product-info-price {margin:22px 0 0 0; font-size:20px; line-height:24px; font-weight:normal; color:#7a34a6; letter-spacing:0}
.fonts-loaded .product-info-price span {font-family:Roboto, sans-serif}
.product-info-price em {display:block; font-style:normal; font-size:14px; line-height:17px; color:#6b6b6b; font-weight:300; padding:3px 0 0 0; text-decoration:line-through}

.product-link-reg {margin:30px 0 0 0; max-width:238px; position:relative}
.product-info-price+.product-link-reg {margin:17px 0 0 0}
.product-link-reg a {display:block; border:1px solid #7a34a6; background:#7a34a6; height:37px; text-align:center; font-size:14px; line-height:35px; color:#fff; letter-spacing:0}
.product-link-reg.loading input{pointer-events:none}
.product-link-reg.loading::after {content:""; display:block; width:24px; height:24px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.product-link-reg a:hover {background:rgba(122, 52, 166, 0.12); color:#000}
.product-link-reg .btn {width:100%; padding:0; height:37px; line-height:35px; font-size:14px}
.product-link-fast {margin:10px 0 0 0; max-width:238px}
.product-link-fast a {display:block; border:1px solid #7a34a6; height:37px; text-align:center; font-size:14px; line-height:35px; color:#000; letter-spacing:0}
.product-link-fast a:hover {background:#7a34a6; color:#fff}
.product-link-fast a:active {background:#9d21ca; color:#fff}
.product-link-table {margin:25px 0 0 0; font-size:14px; line-height:17px}

.catalogue-recommend {margin:98px 0 0 0}
.catalogue-recommend-menu {font-size:22px; line-height:26px}
.catalogue-recommend-menu ul {margin:0; padding:0; list-style:none; border-bottom:2px solid #d8d8d8}
.catalogue-recommend-menu ul::after {content:""; display:block; clear:both}
.catalogue-recommend-menu ul li {float:left; margin:0 0 0 45px; padding:0}
.catalogue-recommend-menu ul li:first-child {margin:0}
.catalogue-recommend-menu ul li::before {display:none}
.catalogue-recommend-menu ul li.active {font-weight:normal}
.catalogue-recommend-menu ul li a {float:left; color:#888; text-decoration:none; padding:0 0 13px 0; position:relative}
.catalogue-recommend-menu ul li a:hover {color:#2f2f2f}
.catalogue-recommend-menu ul li.active a {color:#2f2f2f}
.catalogue-recommend-menu ul li.active a::after {content:""; display:block; position:absolute; left:0; bottom:-2px; right:0; height:2px; background:#7a34a6}

.catalogue-recommend-tabs {position:relative}
.catalogue-recommend-tab {position:absolute; left:-9999px; top:-9999px; width:100%; opacity:0; transition:opacity 0.2s}
.catalogue-recommend-tab.active {position:relative; left:auto; top:auto; opacity:1}

.news-item {border-top:1px solid #ddd; margin:39px 0 0 0; padding:39px 0 0 0}
.news-item:first-child {border-top:none; margin:0; padding:0}
.news-item-inner {display:block; position:relative; color:#282828}
.news-item-inner:hover {color:#7a34a6}
.news-item-inner::after {content:""; display:block; clear:both}
.news-item-photo {float:left; line-height:0; width:438px; position:relative}
.news-item-photo img {display:block; width:100%}
.news-item-photo::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.25); opacity:0; transition:all 0.2s}
.news-item-inner:hover .news-item-photo::after {opacity:1}
.news-item-content {margin:0 0 0 490px; padding:0 0 27px 0}
.news-item-date {position:absolute; left:490px; bottom:-6px; color:#232323}
.news-item-title {font-weight:500; font-size:24px; line-height:31px}
.news-item-anonce {color:#797979; margin:13px 0 0 0}

.news-detail-date {color:#232323; margin:40px 0 13px 0}
.news-detail-date+h1 {margin-top:13px; font-size:34px; line-height:44px; font-weight:500}

.back-link {margin:54px 0 0 0}
.back-link a {display:inline-block; vertical-align:top; background:rgba(122, 52, 166, 0.1); height:37px; line-height:39px; font-size:14px; padding:0 10px 0 18px; color:#000}
.back-link a:hover {background:#7a34a6; color:#fff}
.back-link svg {display:inline-block; vertical-align:middle; margin:-2px 9px 0 0}
.back-link path {fill:#9d21ca; transition:all 0.2s}
.back-link a:hover path {fill:#fff}

.register {max-width:623px}

.slider {position:relative; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap; overflow:hidden; width:100%; margin:29px 0 0 0}
.slider-item {display:inline-block; vertical-align:top; width:100%; white-space:normal}
.slider-item-inner {height:426px; position:relative}
.slider-item-bg {position:absolute; left:0; top:0; right:0; bottom:0; background:no-repeat center; background-size:cover}
.slider-item-bg::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:linear-gradient(90deg, rgba(0, 0, 0, 0.73) 0%, rgba(0, 0, 0, 0) 85.62%)}
.slider-item-inverse .slider-item-bg::after {background:linear-gradient(90deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0) 100%)}
.slider-item-bg-mobile {display:none}
.slider-item-content {position:absolute; left:76px; top:50%; transform:translateY(-50%); width:310px; color:#fff}
.slider-item-inverse .slider-item-content {color:#000}
.slider-item-title {font-weight:500; font-size:44px; line-height:48px; letter-spacing:0}
.slider-item-text {font-size:16px; line-height:24px; letter-spacing:0; margin:21px 0 0 0}
.slider-item-content a {color:#d38bff; font-weight:500}
.slider-item-content a:hover {color:#fff}
.slider-item-inverse .slider-item-content a {color:#701ea3}
.slider-item-inverse .slider-item-content a:hover {color:#000}
.slider .slick-dots {margin:0; padding:0; list-style:none; position:absolute; left:0; right:0; bottom:23px; text-align:center}
.slider .slick-dots li {margin:0 0 0 18px; padding:0; display:inline-block; vertical-align:top; position:relative}
.slider .slick-dots li::before {display:none}
.slider .slick-dots li:first-child {margin:0}
.slider .slick-dots li button {display:block; position:relative; width:11px; height:11px; border-radius:50%; border:2px solid #fff; background:transparent; margin:0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; font-size:0; line-height:0; text-indent:100px}
.slider .slick-dots li.slick-active button {background:#fff}

.main-title {font-weight:normal; font-size:22px; line-height:26px; color:#2f2f2f}

.main-catalogue {margin:89px 0 0 0}
.main-catalogue-list {margin:24px 0 0 0; background:url(../images/main-catalogue.jpg) no-repeat center; background-size:cover; padding:29px 46px 54px 46px}
.main-catalogue-list::after {content:""; display:block; clear:both}
.main-catalogue-col {float:left; width:33.33%; padding:0 46px}
.main-catalogue-col ul {margin:0; padding:0; list-style:none; font-weight:500; font-size:18px; line-height:21px}
.main-catalogue-col ul li {margin:24px 0 0 0; padding:0}
.main-catalogue-col ul li::before {display:none}
.main-catalogue-col ul li ul {font-weight:normal; font-size:16px; line-height:19px}
.main-catalogue-col ul li ul li {margin:10px 0 0 0}
.main-catalogue-col ul li ul li a {color:#000}
.main-catalogue-col ul li ul li a:hover {color:#701ea3}

.main-prefs {margin:93px 0 0 0}
.main-prefs-list {margin:5px -10px 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.main-prefs-item {display:inline-block; vertical-align:top; width:33.33%; padding:20px 10px 0 10px}
.main-prefs-item-inner {display:table; width:100%; border:1px solid #dadada}
.main-prefs-item-icon {display:table-cell; width:102px; text-align:center; vertical-align:middle; height:141px}
.main-prefs-item-text {display:table-cell; vertical-align:middle; height:141px; padding:0 10px 0 0}
.main-prefs-item-title {font-weight:500; font-size:18px; line-height:23px; color:#282828; letter-spacing:0}
.main-prefs-item-descr {font-size:16px; line-height:24px; color:#797979; letter-spacing:0; margin:6px 0 0 0}

.main-form {margin:90px 0 0 0; background:rgba(157, 33, 202, 0.09); padding:39px 60px}
.main-form::after {content:""; display:block; clear:both}
.main-form-info {float:left; width:405px; border-right:1px solid #b2c5f8; padding:0 60px 0 0}
.main-form-text {color:#424242; font-size:14px; line-height:22px; margin:10px 0 0 0}
.main-form-text a {font-weight:normal}
.main-form form {float:left; width:506px; border-left:1px solid #b2c5f8; margin:0 0 0 -1px; padding:0 0 0 74px}
.main-form-row {margin:0 -5px}
.main-form-row::after {content:""; display:block; clear:both}
.main-form-field {float:left; width:50%; padding:0 5px}
.main-form-field .form-label {margin:0}
.main-form-field .form-input input {padding:5px 12px; height:36px; font-weight:normal; font-size:14px}
.main-form .form-checkbox {margin:16px 0 0 0; font-size:14px}
.main-form .form-checkbox a {color:#595959; text-decoration:underline}
.main-form .form-checkbox a:hover {text-decoration:none}
.main-form .form-submit {margin:23px 0 0 0; width:auto}
.main-form .form-submit .btn {display:inline-block; width:auto; padding:0 20px; font-size:14px; height:37px; line-height:37px}

.main-news {margin:87px 0 0 0}
.main-news-list {margin:25px -10px 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.main-news-item {display:inline-block; vertical-align:top; width:25%; padding:0 10px}
.main-news-item a {display:block; color:#282828}
.main-news-item a:hover {color:#701ea3}
.main-news-item-preview {position:relative}
.main-news-item-preview img {display:block; width:100%}
.main-news-item-preview::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.25); opacity:0; transition:all 0.2s}
.main-news-item a:hover .main-news-item-preview::after {opacity:1}
.main-news-item-date {margin:15px 0 0 0; font-size:16px; line-height:24px; letter-spacing:0; color:#797979}
.main-news-item-title {margin:7px 0 0 0; font-weight:500; font-size:18px; line-height:24px; letter-spacing:0}
.main-news-item-anonce {margin:8px 0 0 0; font-size:16px; line-height:24px; letter-spacing:0; color:#797979}
.main-news-btn {margin:43px 0 0 0; width:155px}
.main-news-btn a {display:block; border:1px solid #7a34a6; height:37px; text-align:center; font-size:14px; line-height:35px; color:#000; letter-spacing:0}
.main-news-btn a:hover {background:#7a34a6; color:#fff}
.main-news-btn a:active {background:#9d21ca; color:#fff}

.map {margin:101px 0 0 0}
.map-inner {height:459px}

.bx-basket::after {content:""; display:block; clear:both}
.basket-checkout-container {float:right; width:348px}
.basket-coupon-section {display:none}
.basket-checkout-section {border:1px solid #ddd; padding:0 25px; margin:0 0 75px 0; position:relative}
.basket-checkout-block-total {display:none}
.basket-coupon-block-total-price-old {position:relative; color:#6b6b6b}
.basket-checkout-block-btn {position:absolute; left:-1px; bottom:-75px; right:-1px}
.basket-checkout-block-btn .btn {display:block; width:100%; padding:0}

.content-narrow {max-width:700px}

.gallery {margin:51px 0 118px 0; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.gallery-big {position:relative; overflow:hidden}
.gallery-big-item {display:inline-block; vertical-align:top; width:100%}
.gallery-big-item img {display:block; width:100%}
.gallery-big .slick-prev,
.gallery-big .slick-next {display:block; position:absolute; z-index:2; top:50%; width:50px; height:50px; border:1px solid #d7d7d7; border-radius:0; margin:-25px 0 0 0; padding:0; outline:none; -webkit-appearance:none; cursor:pointer; background:#fff; transition:border-color 0.2s}
.gallery-big .slick-prev {left:40px}
.gallery-big .slick-next {right:40px}
.gallery-big .slick-prev:hover,
.gallery-big .slick-next:hover {border-color:#7a34a6}
.gallery-big .slick-prev svg,
.gallery-big .slick-next svg {display:block; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%)}
.gallery-big .slick-prev path,
.gallery-big .slick-next path {fill:#9d21ca}
.gallery-preview {position:relative; overflow:hidden; margin:20px -10px 0 -10px; text-align:center}
.gallery-preview-item {display:inline-block; vertical-align:top; width:25%; padding:0 10px}
.gallery-preview-item a {display:block; position:relative}
.gallery-preview-item a::after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:4px solid #7a34a6; opacity:0; transition:all 0.2s}
.gallery-preview-item a:hover::after {opacity:0.5}
.gallery-preview-item.active a::after {opacity:1}
.gallery-preview-item img {display:block; width:100%}

.contacts-content {margin:49px 0 0 0}
.contacts-content::after {content:""; display:block; clear:both}
.contacts-item {float:left; padding:0 0 0 39px; margin:0 0 0 39px; border-left:1px solid #ddd}
.contacts-item:first-child {padding:0; margin:0; border:none}
.contacts-item-title {font-size:12px; line-height:14px; font-weight:normal; color:#3f3f3f}
.contacts-item-value {font-size:18px; line-height:21px; font-weight:normal; color:#3f3f3f; margin:16px 0 0 0; text-transform:uppercase}
.contacts-item-value a {color:#3f3f3f}

.contacts-insta {margin:65px 0 -35px 0; position:relative}
.contacts-insta a {display:inline-block; vertical-align:top; padding:0 0 0 53px; text-transform:uppercase; color:#3f3f3f; font-weight:normal; font-size:18px; line-height:33px; position:relative}
.contacts-insta a:hover {color:#7a34a6}
.contacts-insta a::before {content:""; display:block; width:33px; height:33px; position:absolute; left:0; top:0; background:url(../images/footer-top-insta.svg) no-repeat; transition:all 0.2s}
.contacts-insta a:hover::before {opacity:0.8}

.contacts-photos {margin:30px -10px 0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.contacts-photos-item {display:inline-block; vertical-align:top; width:33.33%; padding:10px}
.contacts-photos-item img {display:block; width:100%}

.doc-link {margin:20px 0}
.doc-link a {display:inline-block; vertical-align:top; min-width:531px; padding:0 10px; max-width:100%; height:37px; font-size:14px; line-height:35px; white-space:nowrap; position:relative; overflow:hidden; text-overflow:ellipsis; border:1px solid rgba(122, 52, 166, 0.77); color:#000}
.doc-link a:hover {background:rgba(122, 52, 166, 0.08)}
.doc-link a:active {background:rgba(122, 52, 166, 0.14)}
.doc-link-icon {display:inline-block; vertical-align:middle; line-height:0; margin:0 5px 0 0}

.footer {margin:126px 0 0 0}
.map+.footer {margin:0}

.footer-top {padding:0 0 20px 0; border-top:1px solid #ddd}
.footer-top-logo {float:left; width:48px; height:48px; position:relative; background:url(../images/logo.png) no-repeat; margin:18px 0 0 0}
.footer-top-logo a {display:block; position:absolute; left:0; top:0; right:0; bottom:0}
.footer-top-title {float:left; margin:35px 0 0 25px; height:15px; border-left:1px solid #c4c4c4; padding:0 0 0 25px; color:#6b6b6b; font-size:14px; line-height:15px}
.footer-top-insta {float:right; margin:28px 0 0 0}
.footer-top-insta a {display:block; width:33px; height:33px; background:url(../images/footer-top-insta.svg) no-repeat}
.footer-top-insta a:hover {opacity:0.8}
.footer-top-schedule {float:right; color:#3f3f3f; padding:0 0 0 24px; margin:28px 48px 0 0; background:url(../images/top-schedule.svg) no-repeat left center; text-transform:uppercase; font-size:12px; line-height:33px; font-weight:normal}
.footer-top-email {float:right; color:#3f3f3f; padding:0 0 0 27px; margin:28px 30px 0 0; background:url(../images/top-email.svg) no-repeat left center; text-transform:uppercase; font-size:12px; line-height:33px; font-weight:normal}
.footer-top-email a {color:#3f3f3f}
.footer-top-phone {float:right; color:#3f3f3f; padding:0 0 0 20px; margin:28px 30px 0 0; background:url(../images/top-phone.svg) no-repeat left center; font-size:12px; line-height:33px; font-weight:normal}
.footer-top-phone a {color:#3f3f3f}

.footer-menu {border-top:1px solid #ddd; height:58px; line-height:57px; font-size:12px; font-weight:normal; letter-spacing:0.05em; text-transform:uppercase}
.footer-menu ul {margin:0; padding:0; list-style:none}
.footer-menu ul li {float:left; margin:0 0 0 45px; padding:0}
.footer-menu ul li:first-child {margin:0}
.footer-menu ul li::before {display:none}
.footer-menu ul li a {color:#6b6b6b}
.footer-menu ul li a:hover {color:#000}

.footer-content {border-top:1px solid #ddd; padding:31px 0 32px 0}
.footer-container {margin:0 -40px}
.footer-list {display:table; width:100%}
.footer-col {display:table-cell; vertical-align:top; width:25%; padding:0 40px; border-left:1px solid #ddd}
.footer-col:first-child {border-left:none}
.footer-block {margin:29px 0 0 0}
.footer-block:first-child {margin:0}
.footer-block-title {font-weight:normal; font-size:16px; line-height:19px}
.footer-block-title a {color:#292929}
.footer-block-title a:hover {color:#7a34a6}
.footer-block-list {font-size:16px; line-height:19px; margin:13px 0 0 0}
.footer-block-list ul {margin:0; padding:0; list-style:none}
.footer-block-list ul li {margin:8px 0 0 0; padding:0}
.footer-block-list ul li::before {display:none}
.footer-block-list ul li a {color:#737373}
.footer-block-list ul li a:hover {color:#000}

.footer-bottom {border-top:1px solid #ddd; height:50px; line-height:49px; font-size:14px; font-weight:normal}
.footer-copyrights {float:left; color:#000}
.footer-developer {float:right; color:#686868}
.footer-developer a {font-weight:500; color:#000}
.footer-developer a:hover {color:#7a34a6}

.window-open,
.window-open body {overflow:hidden; position:fixed; left:0; top:0; right:0; bottom:0}

.window-open .wrapper {-webkit-filter:blur(20px); -moz-filter:blur(20px); -o-filter:blur(20px); -ms-filter:blur(20px); filter:blur(20px)}

.window {position:fixed; left:0; top:0; right:0; bottom:0; z-index:99997; overflow:auto; background:rgba(255, 255, 255, 0.6)}
.window-loading {position:absolute; left:50%; top:50%; width:24px; height:24px; margin:-12px 0 0 -12px; background:url(../images/loading.gif)}
.window-container {position:absolute; z-index:99999; left:50%; top:50%; transition:transform 0.2s, opacity 0.2s}
.window-container-preload {transform:scale(0.5); opacity:0}
.window-content {position:relative; background:#fff; box-shadow:0px 4px 40px rgba(0, 0, 0, 0.12)}
.window-close {display:block; position:absolute; width:39px; height:39px; right:0; top:0; opacity:1; transition:all 0.2s; background:url(../images/window-close.svg) no-repeat center}
.window-close:hover {opacity:0.8}

.window-unreg {width:530px; padding:42px 60px 36px 60px; font-size:20px; line-height:28px; color:#202020; font-weight:normal; text-align:center}

.window-reg {width:540px; padding:41px 54px 40px 54px}
.window-reg-title {font-size:22px; font-weight:normal; line-height:26px; color:#2f2f2f}
.window-reg-text {font-size:14px; line-height:22px; color:#424242; margin:10px 0 0 0}
.window-reg form {margin:23px 0 0 0; padding:24px 0 0 0; border-top:1px solid rgba(196, 196, 196, 0.4)}
.window-reg .form-checkbox {margin:16px 0 0 0; font-size:14px}
.window-reg .form-checkbox a {color:#595959; text-decoration:underline}
.window-reg .form-checkbox a:hover {text-decoration:none}
.window-reg .form-submit {margin:23px 0 0 0; width:auto}
.window-reg .form-submit .btn {display:inline-block; width:auto; padding:0 20px; font-size:14px; height:37px; line-height:37px}

.window-count {width:373px; padding:45px 0 36px 0}
.window-count-title {font-size:22px; font-weight:normal; line-height:26px; color:#2f2f2f; text-align:center}
.window-count form {margin:18px 0 0 0; padding:0}
.window-count .form-number {margin:0 auto; width:121px}
.window-count .form-number .form-number-dec {width:37px; height:37px; line-height:20px}
.window-count .form-number .form-input {float:left; margin:0; width:47px}
.window-count .form-number .form-input input {text-align:center; font-size:18px; height:37px; padding:5px 0 6px 0; border-color:transparent}
.window-count .form-number .form-number-inc {width:37px; height:37px; line-height:35px}
.window-count .form-submit {margin:26px 0 0 0; width:auto; text-align:center; max-width:none}
.window-count .form-submit .btn {display:inline-block; width:236px; padding:0; font-size:14px; height:37px; line-height:37px}

.window-count .product-info-label {text-align:center}
.window-count .product-info-sizes {margin-left:auto; margin-right:auto}
.window-count .product-info-label+.form-number {margin-top:5px}

.to-window {display:none}